@using Microsoft.AspNetCore.Http;
@using Emarket.Core.Application.Helpers;
@using Emarket.Core.Application.ViewModels.User;
@inject IHttpContextAccessor httpContext;
@{ 
    UserVM user = httpContext.HttpContext.Session.Get<UserVM>("user");
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emarket - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="icon" href="https://easo.com/wp-content/uploads/2021/01/Autoservicios-icon-background.png" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-success border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="@(user != null ? "Home":"User")" asp-action="@(user != null ? "Index":"Login")">Emarket</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (user != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Ad" asp-action="Index">Mis anuncios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Category" asp-action="Index">Categoria</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        @if (null == user)
                        {
                            <li class="nav-item ">
                                <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Login">Iniciar Sesion <i class="ps-1 fa-solid fa-user"></i></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Register">Registrarse <i class="fa-solid fa-address-card"></i></a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item ">
                                <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Logout">Cerrar Sesion <i class="ps-1 fa-solid fa-user"></i></a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer  class="footer text-muted bg-success text-center">
        <div class="container text-light">            
            <strong> <a asp-area="" asp-controller="Home" asp-action="Privacy"> Emarket </a> - <a href="https://github.com/Frankiie64">Franklyn Brea</a></strong>            
             &copy; <strong>@DateTime.Now.Year</strong>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
